{% extends "./layouts/base.html" %}

{% block titulo %}Acerca de mí{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h1 class="text-center">José Obreque Fuentes</h1>
                <h3 class="text-center">Desarrollador Fullstack Java & Python</h3>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-md-10">
                <p class="text-center fs-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nulla totam fugiat odit optio nobis neque porro incidunt corrupti laborum dolorum delectus itaque perferendis voluptatibus quidem consectetur, iusto et voluptatem repellat quos excepturi voluptates sint veritatis? Animi sequi modi dolorum repudiandae at ea ipsa fugiat nobis possimus doloribus omnis totam mollitia similique laudantium atque quae, a aut autem optio nulla voluptatem minus fuga obcaecati quaerat! Accusamus, neque! Dolor nam sapiente pariatur, accusamus sequi laboriosam, deserunt quod beatae corporis repellendus magnam? Dolor, vero natus illo suscipit facilis tenetur quam! Dolore error similique dignissimos magni consequuntur hic ut quae consectetur aliquid fuga?
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h5 class="text-center">Puedes contactarme aquí:</h5>
            </div>
        </div>
        {% include "layouts/partials/buttons.html" %}
    </div>
{% endblock contenido %}
