{% extends './layouts/base.html' %}
{% block titulo %}Portafolio{% endblock titulo %}
{% block contenido %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
        <h1 class="text-center">Portafolio de Proyectos</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        {% for n in num_examples %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ example_img_url }}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Proyecto #{{ n }}</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                        ducimus iure labore! Provident quos placeat reiciendis unde, libero,
                        eos ipsa, eligendi nulla consequuntur neque vitae ad. Ipsum
                        molestias alias amet?
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}
