<div class="row row-cols-md-auto g-2 mt-2">
    <div class="col-12">
        <a href="{% url 'todo' %}" class="btn btn-secondary">Ver Todos</a>
    </div>
    <div class="col-12">
        <a href="{% url 'todo_create' %}" class="btn btn-secondary">Crear Tarea</a>
    </div>
</div>