<form action="{% url 'todo' %}" class="row row-cols-md-auto g-2 mt-2" method="get">
    <div class="col-12">
        <input type="text" name="search" id="search" placeholder="Buscar tarea" class="form-control">
    </div>
    <div class="col-12">
        <input type="submit" value="Buscar" class="btn btn-warning form-control">
    </div>
</form>