<div class="row row-cols-1 row-cols-md-4 g-4 mt-2 mb-3">
    {% for todo in todos %}
        <div class="col">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ todo.title }}
                    </h5>
                    <p class="card-text pt-2">
                        <i class="bi bi-star-fill"></i> {{ todo.priority }}
                    </p>
                    <p class="card-text">
                        <i class="bi bi-calendar-event-fill"></i> {{ todo.start_date }}
                    </p>
                    <p class="card-text">
                        {% if todo.due_date %}
                            <i class="bi bi-calendar2-x-fill"></i> {{ todo.due_date }}
                        {% endif %}
                        {% if not todo.due_date %}
                            <i class="bi bi-calendar2-x-fill"></i> N/A
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'todo_details' id=todo.id %}" class="btn btn-primary">Detalles</a>
                            <a href="{% url 'todo_edit' id=todo.id %}" class="btn btn-success">Editar</a>
                            <a href="{% url 'todo_delete' id=todo.id %}" class="btn btn-danger" onclick="return confirm('¿Desea eliminar esta tarea?')">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>