{% extends 'layout/base.html' %}

{% block title %}{{ todo.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Detalle de la Tarea</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-8 justify-content-center">
                <table class="table table-hover table-warning table-bordered">
                    <tbody>
                        <tr>
                            <th><i class="bi bi-list-task"></i> Título</th>
                            <td>{{ todo.title }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-body-text"></i> Descripción</th>
                            <td>{{ todo.description }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-star-fill"></i> Prioridad</th>
                            <td>{{ todo.priority }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-calendar-event-fill"></i> Fecha de Inicio</th>
                            <td>{{ todo.start_date }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-calendar2-x-fill"></i> Fecha Límite</th>
                            <td>
                                {% if todo.due_date %}
                                    {{ todo.due_date }}
                                {% endif %}
                                {% if not todo.due_date %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <a href="{% url 'todo' %}" class="btn btn-secondary">Volver Atrás</a>
            </div>
        </div>
    </div>
{% endblock %}