{% extends 'layout/base.html' %}

{% block title %}Tareas{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Tus Tareas Pendientes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'todo_list/partials/search.html' %}
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                {% include 'todo_list/partials/index_options.html' %}
            </div>
        </div>
        {% include 'todo_list/partials/todo_cards.html' %}
    </div>
{% endblock %}