<div class="row row-cols-1 row-cols-md-4 g-4 mt-2 mb-3">
    {% for contact in contacts %}
        <div class="col">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ contact.name }} {{ contact.last_name }}
                    </h5>
                    <p class="card-text pt-2">
                        <i class="bi bi-phone-fill"></i> {{ contact.cell_phone_number }}
                    </p>
                    <p class="card-text">
                        <i class="bi bi-telephone-fill"></i> {{ contact.phone_number }}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'contact_details' id=contact.id %}" class="btn btn-primary">Detalles</a>
                            <a href="{% url 'contact_edit' id=contact.id %}" class="btn btn-success">Editar</a>
                            <a href="{% url 'contact_delete' id=contact.id %}" class="btn btn-danger" onclick="return confirm('¿Desea eliminar este contacto?')">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>