<div class="row row-cols-md-auto g-2 mt-2">
    <div class="col-12">
        <a href="{% url 'contact' %}" class="btn btn-secondary">Ver Todos</a>
    </div>
    <div class="col-12">
        <a href="{% url 'contact_create' %}" class="btn btn-secondary">Agregar Contacto</a>
    </div>
</div>