<div class="btn-toolbar">
    <div class="btn-group" role="group" aria-label="Basic example">
        {% for letter in letters %}
            <a href="{% url 'contact' search_letter=letter %}" class="btn btn-outline-dark">{{ letter }}</a>
        {% endfor %}
    </div>
</div>