html {
    position: relative;
    min-height: 100%;
}

.fondo-body {
    background-color: #EDE4E0;
    margin-bottom: 60px;
}

nav {
    background-color: #C8DBBE;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}