{% extends 'layout/base.html' %}

{% block title %}Crear Contacto{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Crear Nuevo Contacto</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-8 d-flex justify-content-center">
                <form action="{% url 'contact_create' %}" method="post" class="form">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center mt-2">
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}