{% extends 'layout/base.html' %}

{% block title %}{{ contact.name }} {{ contact.last_name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Datos de Contacto</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-8 justify-content-center">
                <table class="table table-hover table-warning table-bordered">
                    <tbody>
                        <tr>
                            <th><i class="bi bi-person-lines-fill"></i> Nombre</th>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-person-lines-fill"></i> Apellido</th>
                            <td>{{ contact.last_name }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-telephone-fill"></i> Teléfono Fijo</th>
                            <td>{{ contact.phone_number }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-phone-fill"></i> Celular</th>
                            <td>{{ contact.cell_phone_number }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-envelope-fill"></i> Email</th>
                            <td>{{ contact.email }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-calendar-event"></i> Fecha de Registro</th>
                            <td>{{ contact.registration_date }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-journal"></i> Notas</th>
                            <td>{{ contact.notes }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <a href="{% url 'contact' %}" class="btn btn-secondary">Volver Atrás</a>
            </div>
        </div>
    </div>
{% endblock %}