{% extends 'layout/base.html' %}

{% block title %}Contactos{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Tus Contactos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'contact_list/partials/search.html' %}
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                {% include 'contact_list/partials/index_options.html' %}
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                {% include 'contact_list/partials/search_by_initials.html' %}
            </div>
        </div>
        {% include 'contact_list/partials/contact_cards.html' %}
    </div>
{% endblock %}