{% extends 'layout/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">Bienvenido a tu Gestor Personal</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Agenda de Contactos</h5>
                        <p class="card-text">
                            Gestiona tu agenda de contactos: crea, edita, elimina y visualiza tus contactos de manera fácil e intuitiva.
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a href="{% url 'contact' %}" class="btn btn-primary">Ir a la Agenda</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista de tareas Pendientes</h5>
                        <p class="card-text">
                            Gestiona todas tus tareas pendientes: crea, visualiza, edita y elimina tareas de forma rápida, fácil e intuitiva.
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a href="{% url 'todo' %}" class="btn btn-primary">Ir a Mis Tareas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}